body{
    background-color: rgb(228, 228, 228);
}
.container_p {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.container_p > div {
    margin: 30px 10px 10px 10px;
}
.sidebar_user {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 300px;
    
}
.sidebar_user > a {
    background: white;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 20px 60px;
    font-weight: bolder;
    font-size: 20px;
    text-align: center;
}
.sidebar_user > a:hover{
    background: grey;
    cursor: pointer;
}
a:active{
    background: black;
    color: white;
}
.img{
    height: 25px;
    width: 25px;
    background: white;
}
.profile {
    width: 800px;
    background-color: white;
    border-radius: 20px;
}
.header {
    font-size: 30px;
    margin: 30px 0px 30px 40px;
}
.profile_item{
    margin: 0px 0px 30px 40px;
    font-size: 20px;
    color: rgb(84, 84, 84);
    display: inline-block;
    width: 200px;
}
.profile_item_inp{
    margin: 0px 0px 30px 60px;
    font-size: 20px;
    color: black;
    right: 1px;
    width: 400px;
    border-width: 0px;
}
.updbtn{
    margin-left: 36px;
    margin-bottom: 30px;
    padding: 15px;
    font-size: 20px;
    border-radius: 30px;
    font-weight: bold;
    background-color: white;
}
.updbtn:hover{
    background-color: gray;
    border-color: gray;
    cursor: pointer;
}