<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pop-up</title>
    <link rel="stylesheet" href="./../../public/css/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
</head>
<body>
    <div class="popup__body">
            <div class="popup__title">
                <img src="https://mcdn.coolmate.me/image/March2024/mceclip4_81.jpg" alt="brand logo">
                <div class="popup__titleText">
                    Rất nhiều đặc quyền và quyền lợi mua sắm đang chờ bạn 
                </div>
            </div>
            <div class="popup__interest">
                <div class="popup__interestText">
                    Quyền lợi dành riêng cho bạn khi tham gia Coolcub 
                </div>
                 <div class="popup__interestImg">
                    <img src="https://mcdn.coolmate.me/image/March2024/mceclip3_52.jpg" alt="Voucher">
                    <img src="https://mcdn.coolmate.me/image/March2024/mceclip1_36.jpg" alt="Presents">
                    <img src="https://mcdn.coolmate.me/image/March2024/mceclip2_55.jpg" alt="Refund">
                 </div>
            </div>
            <form action="
            " class="popup_signin">
                <div class="popup__signinText">
                    Đăng nhập hoặc đăng ký (miễn phí)
                </div>
                <div class="popup__signinAuthenticate">
                    <button class="popup__signinAuthenticate">
                    </button>
                </div>
        </form>
    </div>
</body>
</html>