*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.popup__body{
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    /* background-color: red; */
    z-index: 999;
    padding: 2rem;
    max-width: 560px;
    width: 70vw;
}
.popup__title{
    font-family: 'Oswald', sans-serif;
    font-size: 31px;
    font-weight: 700;
}
.popup__interestText{
    margin-top: 0.7rem;
    margin-bottom: 0.3rem;
}
.popup__interestImg{
    display: flex;
    justify-content: space-between;
}
.popup__interestImg > img{
    height: 28%;
    width:  31%;
}
.popup__siginAuthenticate {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 0.25rem;
    text-align: center;
    border-width: 1px solid #ccc;
    cursor: pointer;
    text-align: center;
}
.popup__img{
    display:  inline-block;
}
.popup__img > img{
    width: 3rem;
    height: 3rem;
    object-fit: contain;
    padding: 0.6rem;
}