<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add</title>
</head>
<body>
    <label for="">Country</label>
    <select name="" id="CountryInp">
        <option value="select">select</option>
    </select>

    <br><br>
    
    <label for="">Country</label>
    <select name="" id="CitiesInp">
        <option value="select">select</option>
    </select>

    <script type="module">
        import { initializeApp } from "https://www.gstatic.com/firebasejs/10.12.0/firebase-app.js";

        const firebaseConfig = {
        apiKey: "AIzaSyDDOUEj5ZXHt_TvN10dbyj5Yg3xX1T5fus",
        authDomain: "demosoftwaretechnology.firebaseapp.com",
        databaseURL: "https://demosoftwaretechnology-default-rtdb.firebaseio.com",
        projectId: "demosoftwaretechnology",
        storageBucket: "demosoftwaretechnology.appspot.com",
        messagingSenderId: "375046175781",
        appId: "1:375046175781:web:0d1bfac1b8ca71234293cc",
        measurementId: "G-120GXQ1F6L"
        };
    
        const app = initializeApp(firebaseConfig);

        import { getDatabase, ref, child, get } from "https://www.gstatic.com/firebasejs/10.12.0/firebase-database.js";

        const db = getDatabase();

        let CountryInp = document.getElementById('CountryInp');
        let CitiesInp = document.getElementById('CitiesInp');

        function GetCountries(){
            const dbref = ref(db);
            
            get(child(dbref, 'Countries/')).then((countries)=>{
                if(countries.exists()){
                    countries.val().map((country)=>{
                        let opt = document.createElement('option');
                        opt.value = country;
                        opt.innerText = country;
                        CountryInp.append(opt);
                    })
                    CountryInp.disable = false;
                }
            })
        }

        window.addEventListener('load', GetCountries);
    </script>
</body>
</html>